* {
    /* Сбрасываем все стандартные падинги и отступы со всех элементов */
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #171c28;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

a {
    color: #5e5bfa;
    text-decoration: none;
}

.container {
    width: 1124px;
    margin: 0 auto; /*выравниваем контент по центру*/
}

/* НАВИГАЦИЯ */

header {
    color: #fff;
}

nav {
    display: flex;
}

textarea {
    resize: none;
}

.navbar {
    width: 100%;
    display: flex;
}

.navbar-wrapper {
    display: flex;
    margin-left: auto;
}

.navbar-wrapper-item {
    margin: 6px 6px 0 6px; 
    /* box-sizing: border-box;*/
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background-color: #5e5bfa;
}

.navbar-wrapper-item:hover {
    background-color: yellow;
}

.navbar-wrapper-item__link {
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

/* НАВИГАЦИЯ */

/* СЛАЙДЕР */

.siema {
    width: 100%;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.25);
}

.siema-item {
    width: 100%;
}

.siema-item__img {
    height: 100%;
    width: 100%;
}

/* СЛАЙДЕР */

/* ЦЕНТРАЛЬНЫЙ БЛОК С КОНТЕНТОМ */

main {
    /*flex: auto;*/
    padding-top: 20px;
    box-sizing: border-box;
}

.title {
    font-weight: normal;
    font-size: 38px;
    color: rgba(153, 163, 186, 0.75);
    margin-bottom: 26px;
    margin-top: 26px;
    line-height: 1.25;
}

.sub-title {
    font-size: 24px;
    color: rgba(153, 163, 186, 0.75);
    font-weight: normal;
    margin-bottom: 8px;
    line-height: 1.25;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 48%;
    text-align: justify;
    font-size: 18px;
    color: rgba(153, 163, 186, 0.5);
    line-height: 1.75;
    margin-bottom: 18px;
}

.desc {
    font-size: 18px;
    color: rgba(153, 163, 186, 0.5);
    line-height: 1.75;
    margin-bottom: 18px;
}

.list {
    color: rgba(153, 163, 186, 0.5);
}

.list-item {
    margin-bottom: 16px;
}

.timetable-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.date-picker {
    width: 60%;
    margin-top: 30px;
}

/* ЦЕНТРАЛЬНЫЙ БЛОК С КОНТЕНТОМ */

/*  СЕТКА С РАПИСАНИЕМ */

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    display: flex;
    justify-content: center;
    width: 21%;
    /*overflow: hidden;*/ 
    margin-bottom: 45px;
}

.movie {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.poster {
    width: 100%;
    height: 330px;
    overflow: hidden;
    margin-bottom: 0px;
}

.poster-img {
    width: 100%;
    height: auto;
    transition: 0.5s;
}

.poster-img:hover {
    transform: scale(1.25);
}

.movie-title_ {
    font-size: 24px;
    margin: 6px 0;
}

.movie-genre {
    color: rgba(153, 163, 186, 0.5);
    font-size: 14px;
    margin-bottom: 6px;
}

.movie-times {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6px;
}

.movie-times__item {
    padding: 4px;
    font-size: 14px;
    color: #fff;
    box-sizing: border-box;
    background-color: #2b3448;
    border-radius: 3px;
    margin-right: 6px;
}
/*  СЕТКА С РАПИСАНИЕМ */

/* КОНКРЕТНЫЙ ФИЛЬМ С ОПИСАНИЕМ */

.movie-wrapper {
    display: flex;
    justify-content: space-between;
}

.movie-left {
    width: 40%;
}

.movie-poster {
    width: 100%;
}

.movie-poster__img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.movie-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    box-sizing: border-box;
}

.movie-title {
    color: rgba(153, 163, 186, 0.75);
    font-size: 42px;
    margin-bottom: 24px;
}

.movie-content-item {
    display: flex;
    flex-direction: column;
    color: rgba(153, 163, 186, 0.75);
    margin-bottom: 10px;
}

.movie-content-item-title {
    font-size: 22px;
    margin-bottom: 6px;
    color: #fff;
}

.movie-content-item-desc {
    font-size: 18px;
    line-height: 1.75;
}

/* КОНКРЕТНЫЙ ФИЛЬМ С ОПИСАНИЕМ */

/* КОММЕНТАРИИ */

.comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.comments-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comments-item {
    padding: 15px;
    box-sizing: border-box;
    background-color: #2b3448;
    margin-bottom: 24px;
    border-radius: 5px;
    width: 100%;
    display: flex;
}

.comments-form {
    width: 100%;
    display: flex;
    margin-bottom: 24px;
}

.comments-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    margin-right: 20px;
    font-size: 16px;
}

.button {
    font-size: 16px;
    padding: 0 6px;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    border: none;
    background-color: #5e5bfa;
}

/* КОММЕНТАРИИ */

/* ФОТО КИНОТЕАТРА */

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.photos-item {
    width: 30%;
    height: 270px;
    overflow: hidden;
    margin-bottom: 32px;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.25);
}

.photos-item__img {
    height: 100%;
    width: auto;
}

/* ФОТКИ КИНОТЕАТРА */

/* КАРТА */

.map {
    margin-bottom: 26px;
}

/* КАРТА */

/* КОНТАКТЫ */

.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.contacts-item {
    width: 22%;
}

/* КОНТАКТЫ */

/* ФУТЕР */

footer {
    height: 50px;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 150px;
    color: rgba(153, 163, 186, 0.5);
    line-height: 1.5;
}

.footer-item__title {
    margin-bottom: 5px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-nav-item__link {
    text-decoration: none;
    color: rgba(153, 163, 186, 0.5);
    transition: 0.2s;
}

.footer-nav-item__link:hover {
    color: #5e5bfa;
}

/* ФУТЕР */

/* АВТОРИЗАЦИЯ */


.auth {
    width: 27%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title-auth {
    text-align: center;
    padding-top: 50px;
    color: yellow;
}

.auth-input {
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 16px;
    background-color: #2b3448;
    color: #fff;
}

.button-auth {
    margin-top: 12px;
    width: 100%;
    padding: 12px;
}

/* АВТОРИЗАЦИЯ */

/*ПАНЕЛЬ АДМИНИСТРАТОРА*/
.films-wrapper, .comments-wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.form-film, .form-comment{
    color: #5e5bfa;
}
.film-title {
    font-weight: normal;
    font-size: 38px;
    color: yellow;
    margin-bottom: 26px;
    margin-top: 26px;
    line-height: 1.25;
    text-align: center;
    padding-top: 50px;
}

.comment-preview {
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #171c28;;
    color: #fff;
    resize: none;
}

